/* Estilos para el título y subtítulo */
.container_main_attendance {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
}

.container_main_attendance h2 {
    width: 100%;
    height: auto;
    color: #fff;
    font-size: 40px;
    text-align: center;
    margin: 4rem 0rem 2rem 0;
}

.container_main_attendance>p {
    width: auto;
    height: auto;
    font-size: 27px;
    text-align: center;
    color: #fff;
}

.calendar-main-content {
    width: 50%;
    height: auto;
    display: flex;
    justify-content: left;
    align-items: end;
    margin-top: 3rem;
    margin-right: 7rem;

}


/* Contenedor de la ilustración */
.illustration-container {
    width: 50%;
    height: auto;
    display: flex;
    justify-content: right;
    align-items: end;
    margin-top: -14rem;
    margin-right: -6rem;
}

.illustration-container img {
    width: 20em;
    height: auto;
    margin-top: -10%;
    left: 15rem;
}

.text-container-manageAttendance {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: #fff;
    margin-top: 7rem;
    font-size: 1.5rem;
}

.back-button-manageAttendance {
    width: 7rem;
    height: 3rem;
    background-color: #00843d;
    border-radius: 12px;
    border-style: none;
    color: #fff;
    font-size: 20px;
    cursor: pointer;
    margin-top: 4rem;
}